<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="actor" class="com.stackroute.domain.Actor">

   <constructor-arg  value="Vijay" index="0" type="java.lang.String"/>
    <constructor-arg value="male" index="1" type="java.lang.String"/>
    <constructor-arg value="30" index="2" type="int"/>

</bean>
    <bean id="movie1" class="com.stackroute.domain.Movie" autowire="byName"></bean>

    <bean id="actor2" class="com.stackroute.domain.Actor">

        <constructor-arg  value="Ajay" index="0" type="java.lang.String"/>
        <constructor-arg value="male" index="1" type="java.lang.String"/>
        <constructor-arg value="22" index="2" type="int"/>

    </bean>
    <bean id="movie2" class="com.stackroute.domain.Movie" >
        <constructor-arg ref="actor2"/>

</bean>
    <bean id="beanLifeCycleDemoBean" class="com.stackroute.demo.BeanLifeCycleDemoBean" init-method="customInit" destroy-method="customDestroy">

    </bean>





</beans>
